	

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

* { margin:0; padding:0; } /* to remove the top and left white space */
html,body { 
	width:100vw; 
	height:100vh; 
	overflow: hidden; /* avoid scrolling with mouse touch */
	position: fixed;
	--font-family-text: 'IBM Plex Sans',sans-serif;
	--font-weigth-text:  ligth;
	--font-family-mono: var(--font-family-text)
} /* just to be sure these are full screen*/


.lock-screen {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

#glcanvas { 
	width: 100%;
	height:100%;	
	margin: 0;
	padding:0;
	display:block; 
	position: absolute;
	z-index: 8;
	/*pointer-events: all*/
} 

#container {
	--marg: 10px;
	margin: var(--marg);
	padding:0;
	width:calc(100vw - 2*var(--marg) - 2px);
	height:calc(100vh - 2*var(--marg) - 2px);
	position: relative;
}

#interfaceLayout {
	position: absolute;
	display: grid;
	--laypad: 20px;
	padding: var(--laypad);
	width: 290px;
	grid-template-columns: repeat(6, 1fr); /* 6 columns, using fractions*/
	grid-template-rows: 50px auto 22px 270px 22px 22px;
	z-index: 20;
	pointer-events:none; /*make transparent to events, so the Webgl canvas process them instead*/ 
}

#Title{
	grid-column: 1 / 7; 	
	grid-row: 1/ 2;
	/*make non-selectable*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	pointer-events:none;
}

#numberPos{	
	grid-column: 1 / 7; 
	grid-row: 2 / 3;
	border-top: 1px solid #202020;
	text-align: right;
	pointer-events:auto; /* Enable events for the form (disabled in layout).*/	
}


#binaryPos{
	grid-column: 1 / 7;
	grid-row: 3 / 4;
	border-top: 1px solid #202020;
	border-bottom: 1px solid #202020;
	pointer-events:auto; /* Enable events for the slider (disabled in layout).*/
	/*vertical-align: middle;*/
}

#SvgGridPos{
	padding-top: 15px;
	grid-column: 1 / 7;
	grid-row: 4 / 5;
	/*make non-selectable*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events:auto;
}



#animationButton{
	grid-column: 1 / 2; 
	grid-row: 5 / 6;
	border-top: 1px solid #202020;
	border-right: 1px solid #202020;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	pointer-events:auto; /* Enable events for the button (disabled in layout).*/	
}


#sliderText {
	grid-column: 2 / 3; 	
	grid-row: 5 / 6;
	border-top: 1px solid #202020;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;


	/*make non-selectable*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events:none;
}

#sliderPos{
	grid-column: 3 / 7;
	grid-row: 5 / 6;
	border-top: 1px solid #202020;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	/*pointer-events:auto;  Enable events for the slider (disabled in layout).*/
	pointer-events:none;
}

#AcknowledgePos{
	grid-column: 1 / 7;
	grid-row: 6 / 7;
	padding-top: 0.3em;
	border-top: 1px solid #202020;
	/*make non-selectable*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events:auto;
}


/*------------------------------------------------------*/
/*Buttons                                               */
/*------------------------------------------------------*/

button {
	display: inline-flex;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background:transparent;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
}
/*This removes accessibility highlight (the blue border in Chromium based browsers)*/
button:focus { outline:0}


/*------------------------------------------------------*/
/*Sliders                                               */
/*------------------------------------------------------*/

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background:transparent;
	outline: none;
	opacity: 1.0;
	border: none;
	padding: 0px;
	margin: 0px;
	-webkit-transition: .2s;
	transition: opacity .2s;
	pointer-events:auto; /* Enable events for the slider (disabled in layout).*/
}

/*Styling webkit/blink */
input[type=range]::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 1px;
	height: 15px;
	background: #202020;
	cursor: pointer;
}

/*Styling Firefox*/
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px , 0px 0px 0px;
	border: none;
	height: 15px;
	width: 1px;
	border-radius: none;
	background: #202020;
	cursor: pointer;
}


/*------------------------------------------------------*/
/*Number Input (Text, really, easier to format)          */
/*------------------------------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.numberInput input[type="text"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
	background:transparent;
	outline: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.numberInput input {	
	height: 1.1em;
	text-align: right;
}
/*This is for adding a following text*/
.numberInput span { 
	position: relative;
}

/*------------------------------------------------------*/
/*String Input                   			            */
/*------------------------------------------------------*/

.stringInput input[type="text"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
	background:transparent;
	outline: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.stringInput input {	
	height: 1.1em;
	text-align: right;
}


/*------------------------------------------------------*/
/*Grid as table             	       			        */
/*------------------------------------------------------*/

.gridText table,th,tr,td {
	table-layout: fixed;
	border-collapse: collapse;
	/*text-align: left;*/
	padding: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
}

/*------------------------------------------------------*/
/*Text Types	                 			            */
/*------------------------------------------------------*/
.heading {
	color: #202020;
	font-family: var(--font-family-text);
	font-weight: var(--font-weigth-text);
	font-size: 45px;
	line-height: 1.0;
	
	
}

.largeText {
	font-family: var(--font-family-mono);
	font-weight: lighter;
	color: #202020;
	font-size: 25px;
}

.text {
	font-family: var(--font-family-mono);
	font-weight: lighter;
	color: #202020;
	font-size: 14px;
}

.monoText {
	font-family: var(--font-family-mono);
	line-height: 1.0;
	font-weight: lighter;
	color: #202020;
	font-size: 16px;
}

.monoTextSmall {
	font-family: var(--font-family-mono);
	color: #202020;
	font-size: 16px;
	line-height: 1.0;
}

.smallText {
	font-family: var(--font-family-mono);
	font-weight: lighter;
	color: #202020;
	font-size: 8px;
}

.vsmallText {
	font-family: var(--font-family-mono);
	font-weight: lighter;
	/*line-height: 1.0;*/
	color: #202020;
	font-size: 6px;
}

p{
	font-family: var(--font-family-mono);
	font-weight: lighter;
	color: #202020;
	font-size: 8px;
	margin-top: 0.5em ;
  	margin-bottom: 0.5em ;
}

h1{
	font-family: var(--font-family-mono);
	font-weight: lighter;
	color: #202020;
	font-size: 12px;
}

/*Colour for all links*/
a {
	color: #202020;
}

